<form  method="POST">
  <label for="email">enter email</label>
  <input type="text" id="email" name="email"><br><br>
  <label for="name">name:</label>
  <input type="text" id="name" name="name"><br><br>
  <input type="submit" value="Submit">
</form>


<script>
    document.querySelector('form').setAttribute('action', window.location.href)
</script>